<nav>
    <div class="nav-container">
        <h2>Cez3x Blogs</h2>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blogs">Blogs</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </div>
</nav>